$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

window,
popover {
  color: $text;
  font-family: "JetBrains Mono";
  font-size: 1.2em;
}

popover {
  background-color: transparent;

  padding: 0px;
  margin: 0px;
  border: none;

  contents {
    all: unset;

    background-color: rgb(17, 17, 27);

    color: $text;

    margin: 0px;
    padding: 3px 10px;

    border-radius: 10px;
  }
}

button {
  background: transparent;
  border: solid 1px transparent;

  transition: all 0.3s ease;

  padding: 0px 4px;
}

tooltip {
  background-color: $crust;
  color: $text;

  font-size: 1em;
}

window.Bar {
  background: transparent;
  padding: 10px 0px;
  margin-right: 5px;
  margin-left: 5px;

  min-height: 35px;
}

window.Sidebar {
  background-color: rgb(30, 30, 46, 0.7);

  border: solid $teal 1px;
  border-radius: 7px;

  min-width: 500px;

  .nav {
    min-width: 30px;
    padding: 5px;

    button {
      padding: 10px;
    }

    button:hover {
      border: solid $teal 1px;
    }

    .active {
      border: solid $teal 1px;
    }
  }

  .content {
    border-right: solid $teal 1px;
    border-radius: 7px;

    padding: 20px;
  }

  .notif-sidebar {
    min-height: 400px;
    // border: solid 1px red;

    .instance {
      background: transparent;
    }
  }

  // switch {
  //   image:first-child {
  //     background-color: $teal;
  //   }
  //   slider {
  //     background-color: $text;
  //   }
  // }
}

//BLUETOOTH

.bt_menu {
  button {
    padding: 5px 7px;
    // border: solid $surface2 1px;
    background-color: rgb(49, 50, 68, 0.5);
  }

  button:hover {
    border: solid $surface2 1px;
  }

  .subheading {
    // border-bottom: solid $surface0 1px;
    padding-bottom: 5px;
  }

  .device {
    // background-color: rgb(49, 50, 68, 0.4);
    padding: 5px 7px;
    border-radius: 7px;
    border: solid $surface0 1px;

    > label {
      font-size: 1.05em;
    }

    revealer > * {
      margin-top: 10px;
      color: $overlay2;

      button {
        color: $text;
      }
    }
  }
}

// MUSIC

.music_box {
  border-radius: 7px;
  border: solid $teal 1px;

  .music_overlay {
    background-color: rgb(30, 30, 46, 0.7);

    button {
      padding: 5px 7px;
      border: solid 1px transparent;
    }

    button:hover {
      border: solid $surface2 1px;
      background-color: rgb(30, 30, 46, 0.8);
    }

    .artist {
      color: $overlay2;
    }
  }
}

.bar_item {
  padding: 10px 0px;

  background-color: rgb(30, 30, 46, 0.45);

  border-radius: 200px;
  border: solid 1px transparent;

  transition: all 0.3s ease;
}

.bar_item:hover {
  // background-color: $base;

  border: solid $teal 1px;
}

//SIDEBAR MENU

.menu_content {
  margin-left: 15px;

  .subheading {
    font-size: 1.2em;
  }

  .subheading ~ * {
    margin-left: 10px;
  }
}

.header {
  .heading {
    font-size: 1.5em;
  }

  .material {
    font-size: 2.5em;
  }

  padding-bottom: 10px;
  border-bottom: solid $teal 1px;
}

//Notif

.notif {
  padding: 5px;

  .instance {
    padding: 10px;

    background-color: $base;

    border: solid $teal 1px;
    border-radius: 7px;

    .body {
      margin-right: 30px;
      margin-left: 10px;
      color: $subtext0;
    }

    .title {
      font-size: 1em;
      font-weight: bold;
    }
  }
}

//MISC

.workspaces label {
  color: $text;
}

.date {
  font-size: 1em;
}

.tray_button {
  padding: 0px 2px;
  margin: 0px 5px;
  border-radius: 7px;
}

.tray_button:hover {
  border: solid transparent 1px;
}

.material {
  font-family: "Material Icons";
  font-size: 1.1em;
}
